GATSBY_SANITY_PROJECT_ID="e1edf6a4"
GATSBY_SANITY_DATASET="production"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN="skTsGfGwGOOuoFvOGCvT7h2rGu1uskS8sn7j2wYZkRTJYjREoEbBWSs1W75SB6R6YY7sO8Dm5A8FUtme4dFjk5YkGYKWwZsVOcOzM4rUk9li94HFGFott0JWU3LEMcXTZ1P6myMyVJZFEy471qNDe0CJxlDBLUYBQV16sOBRY1BGKiBWzTZm"

